<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Access denied</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div style="text-align: center;">
    <img width="220" height="220" th:src="@{/images/start.jpg}"/>
    <div class="text-danger px14">
        <br/>
        <br/>
        <p class="fw-bold" style="font-size: 140%">Access denied</p>
        <br/>
        <br/>
        <div class="nav-link px-14 link-secondary" style="font-size: 120%">
            <input type="button" name="back"  class="btn btn-outline-success" style="width: 207px;" onclick="history.back()" value="Back"/>
        </div>
    </div>
</div>
</body>
</html>