<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Rehabilitation Center</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-7 mb-7 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="120" height="120" th:src="@{/images/start.jpg}"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li style="font-size: 120%"><a href="/" class="nav-link px-14 link-secondary">Home</a></li>
            <li style="font-size: 120%"><a href="/working-with-patients" class="nav-link px-14 link-dark">Working with patients</a></li>
            <li style="font-size: 120%"><a href="#" class="nav-link px-14 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href = "/login"  class="btn btn-outline-primary me-2" role="button">Login</a>
            <a href = "/registration"  class="btn btn-primary" role="button">Sign-up</a>
        </div>
    </header>
</div>

<div class="container px-10">
    <div class="p-3 border bg-light">
        <h3>Events</h3></div>
    </div> &nbsp;
<a th:href="@{'/events/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">Sort by date</a>
</div>

<br>

<div th:if = "${totalPages > 1}" class="container px-10">
    <div class = "row col-sm-10">
        <div class = "col-sm-2">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/events/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
        </div>
        <div class = "col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/events/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>

        <div class="col-sm-1">
            <a th:if="${currentPage < totalPages}" th:href="@{'/events/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
&nbsp;
<div class="container px-10"  th:each = "el:${events}">
    <div class = "border bg-light" >
        <div class="row">
            <div class="col">
                <div class="p-3"><p class="fw-bold" th:text="${el.patient.name}"/></div>
            </div>
            <div class="col">
                <div class="p-3"><p class="text-warning fw-bold" th:text="${el.eventStatus}"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-3"><p class="fw-bold" th:text="${el.appointment.value}"/></div>
            </div>

            <div class="col">
                <span th:unless="${el.appointment.dose == 0}">
                <div class="p-3"><p class="fw-bold" th:text="${el.appointment.dose} + mg"/></div>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="p-3"><p th:text="${el.date}"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col p-3">
                <a  class="btn btn-success btn-sm" role="button">Complete</a>
                <a  class="btn btn-danger btn-sm" role="button">Cancel</a>
            </div>
        </div>
    </div>

    <br>
</div>
</body>
</html>