<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Rehabilitation Center</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-7 mb-7 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="120" height="120" th:src="@{/images/start.jpg}"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/" class="nav-link px-14 link-secondary">Home</a></li>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/patients" class="nav-link px-14 link-secondary">Working with patients</a></li>
            <div sec:authorize="hasAuthority('ADMIN')" >
                <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/admin" class="nav-link px-14 link-secondary">Admin panel</a></li>
            </div>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/about" class="nav-link px-14 link-secondary">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-danger" role="button">Log out</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href = "/login"  class="btn btn-outline-primary me-2" role="button">Login</a>
            </div>
        </div>
    </header>
</div>

<div class="container px-10">
    <div class="row">
        <div class="col p-3 border bg-light">
            <h3>Events</h3>
            <div class="text-end">
                <a  class="btn btn-success btn-sm" href = /events/today role="button">Today</a>
                <a  class="btn btn-success btn-sm" href = /events/recent role="button">In recent hour</a>
            </div>
        </div> &nbsp;
    </div>
    <form th:action = @{/events/} method = "post">
        <div class="row">

            <div class="col p-3">
                <input type = "text" name = "name" placeholder = "Enter patient's name" class = "form-control">
            </div>
            <div class="col p-3">
                <button type = "submit" class="btn btn-primary">Filter</button>
            </div>
            <div class="col text-end p-3">
                <a class="btn btn-primary btn-sm" role="button" th:href="@{'/events/' + ${currentPage} + '?sortField=date&sortDir=' + ${reverseSortDir}}">Sort by date</a>
                <a class="btn btn-primary btn-sm" role="button" th:href="@{'/events/' + ${currentPage} + '?sortField=patient&sortDir=' + ${reverseSortDir}}">Sort by patient</a>
            </div>
        </div>
    </form>
    <br>
    <div class="container px-10" style="text-align: left">
        <div class="row">
    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" style="columns:3" th:if = "${totalPages > 1}">

            <li class="page-item">
                <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/events/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            </li>
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:unless="${currentPage > 1}">Previous</span>
            </li>
            <span th:each="i: ${#numbers.sequence(beginIndex, endIndex)}">
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage != i}" th:href="@{'/events/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">
                        [[${i}]]
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link active" aria-current="page" th:unless="${currentPage != i}">
                        [[${i}]]
                    </a>
                </li>
            </span>


            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/events/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            </li>
            <li class="page-item disabled" aria-current="page">
            <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
            </li>
            <li class="page-item">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/events/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            </li>
            <li class="page-item disabled" aria-current="page">
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
            </li>
        </ul>
    </nav>
        </div>
            </div>
        </div>
    </div>
</div>


<div class="container px-10"  th:each = "el:${events}">
    <div class = "border bg-light" >
        <div class="row">
            <div class="col">
                <div class="p-3">
                    <a style="text-decoration: none; color:black; font-weight: bold"
                       onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"
                       th:href=" '/events/patient/' + ${el.patient.id}">
                        <p style="font-size: 120%" th:text="${el.patient.name}"/>
                    </a>
                </div>
            </div>
            <div class="col">
                <span th:if="${el.eventStatus == T(com.example.rehab.models.enums.EventStatus).PLANNED}">
                <div class="p-3"><p class="text-warning fw-bold" th:text="${el.eventStatus}"/></div>
                </span>
                <span th:if="${el.eventStatus == T(com.example.rehab.models.enums.EventStatus).COMPLETED}">
                <div class="p-3"><p class="text-success fw-bold" th:text="${el.eventStatus}"/></div>
                </span>
                <span th:if="${el.eventStatus == T(com.example.rehab.models.enums.EventStatus).CANCELED}">
                <div class="p-3"><p class="text-danger fw-bold" th:text="${el.eventStatus}"/></div>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="p-3"><p class="fw-bold" style="font-size: 120%" th:text="${el.appointment.value}"/></div>
            </div>

            <div class="col">
                <span th:unless="${el.appointment.dose == 0}">
                <div class="p-3"><p class="fw-bold" th:text="${el.appointment.dose} + mg"/></div>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="p-3"><p class="fw-bold" th:text="${el.dateString}"/></div>
            </div>
            <div class="col">
                <div class="p-3"><p class="text-danger" th:text="${el.message}"/></div>
            </div>
        </div>
        <div class="row">
            <div class="col p-4">
                <a  class="btn btn-primary btn-sm" th:href=" '/patients/' + ${el.patient.id}" role="button">Patient details</a>
                <span sec:authorize="hasAnyAuthority('ADMIN','NURSE')" >
                <span th:if="${el.eventStatus == T(com.example.rehab.models.enums.EventStatus).PLANNED}">
                <a  class="btn btn-success btn-sm" onClick="return confirm('Are you sure you want to complete the event?')"
                    th:href=" '/events/' + ${el.id} + '/complete'" role="button">Complete</a>
                <a  class="btn btn-danger btn-sm"  th:href=" '/events/' + ${el.id} + '/cancel'" role="button">Cancel</a>
                </span>
                <span th:if="${el.eventStatus == T(com.example.rehab.models.enums.EventStatus).COMPLETED OR
                el.eventStatus == T(com.example.rehab.models.enums.EventStatus).CANCELED}">
                <a  class="btn btn-success btn-sm" onClick="return confirm('Are you sure you want to hide the event?')"
                    th:href=" '/events/' + ${el.id} + '/hide'" role="button">Hide</a>
                </span>
                </span>
            </div>
        </div>
    </div>

    <br>
</div>
</body>
</html>