<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Rehabilitation Center</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-7 mb-7 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="120" height="120" th:src="@{/images/start.jpg}"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/patients" class="nav-link px-14 link-secondary">Working with patients</a></li>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/events" class="nav-link px-14 link-secondary">Events</a></li>
            <div sec:authorize="hasAuthority('ADMIN')" >
                <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/admin" class="nav-link px-14 link-secondary">Admin panel</a></li>
            </div>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/about" class="nav-link px-14 link-secondary">About</a></li>
        </ul>


        <div class="col-md-3 text-end">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" class="btn btn-outline-danger" role="button">Log out</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href = "/login"  class="btn btn-outline-primary me-2" role="button">Login</a>
            </div>
        </div>
    </header>
</div>
</p>
<div style="font-size: 90%; text-align: center;" class="text-primary" sec:authorize="isAuthenticated()">
    <span th:text="'Greetings, ' + ${#authentication.getPrincipal().getUsername()}"></span>
    <div sec:authorize="hasAuthority('ADMIN')" >You signed as ADMIN</div>
    <div sec:authorize="hasAuthority('USER')" >You signed as USER</div>
    <div sec:authorize="hasAuthority('DOCTOR')" >You signed as DOCTOR</div>
    <div sec:authorize="hasAuthority('NURSE')" >You signed as NURSE</div>


</div>
<div style="text-align: center;"><img th:src="@{/images/homepage.jpg}"/></div>


</body>
</html>