<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My patients</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-7 mb-7 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="120" height="120" th:src="@{/images/start.jpg}"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/" class="nav-link px-14 link-secondary">Home</a></li>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/events" class="nav-link px-14 link-secondary">Events</a></li>
            <div sec:authorize="hasAuthority('ADMIN')" >
                <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/admin" class="nav-link px-14 link-secondary">Admin panel</a></li>
            </div>
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/about" class="nav-link px-14 link-secondary">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <div sec:authorize="isAuthenticated()">
                <span style="color:blue;vertical-align: bottom" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                &nbsp;
                <a th:href="@{/logout}" name="logout" class="btn btn-outline-danger" role="button">Log out</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <a href = "/login"  class="btn btn-outline-primary me-2" role="button">Login</a>
            </div>
        </div>
    </header>
</div>




<div class="container px-10">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <h3>My patients</h3>
                <div class="text-end">
                    <a  class="btn btn-primary" href = /patients/new role="button">Add</a>
                    <a  class="btn btn-outline-danger" href = /patients/ role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container overflow-hidden" th:each = "el:${patients}">
    <span th:if="${el.patientStatus == T(com.example.rehab.models.enums.PatientStatus).ON_TREATMENT}">
    <div class="row gx-5 gy-18">
        <div class="col">
            <div class="p-3"><p style="font-size: 110%" class="fw-bold">Name:</p></div>
        </div>
        <div class="col">
            <div class="p-3"><p style="font-size: 120%" th:text="${el.name}"/></div>
        </div>
    </div>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3"><p style="font-size: 110%" class="fw-bold">Insurance number:</p></div>
        </div>
        <div class="col">
            <div class="p-3"><p style="font-size: 120%" th:text="${el.insuranceNumber}"/></div>
        </div>
    </div>

    <div class="text-end p-3">
        <a  class="btn btn-primary btn-sm" name="details" th:href = " '/patients/' + ${el.id}" role="button">Details</a>
        <a  class="btn btn-danger btn-sm" onClick="return confirm('Are you sure you want to discharge the patient?')"
            th:href = "'/patients/discharge/' + ${el.id}" role="button">Discharge</a>
    </div>


    <hr/>

    </span>

</div>

</body>
</html>