<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Rehabilitation Center</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-7 mb-7 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img width="120" height="120" th:src="@{/images/start.jpg}"/>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li style="font-size: 120%"><a onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'" href="/registration" class="nav-link px-14 link-secondary">Create user</a></li>
        </ul>


        <div class="col-md-3 text-end">
            <a onclick="history.back()" class="btn btn-outline-danger" role="button">Back</a>
        </div>
    </header>
    <div class="row gx-5">
        <div class="col mb-5">
            <div class="p-3 border bg-light">
                <h3>Add procedures and cures</h3>
            </div>

        </div>
    </div>
    <form th:action= @{/admin/procedures-and-cures} method="post">
        <div class="row">
            <div class="col-lg-2">
                <p class="fw-bold">Select type:</p>
            </div>
            <div class="col-md-auto">
                <div class="form-check form-check-inline">
                <input class="form-check-input" id="procedure" name="type" type="radio" field="type" value="procedure" checked>
                    <label class="form-check-label" for="procedure">Procedure</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" id="cure" name="type" type="radio" field="type" value="cure">
                    <label class="form-check-label" for="cure">Cure</label>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <input type = "text" name = "name"  placeholder = "Enter name of procedure or cure" class = "form-control">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col text-end">
            <button type = "submit" class="btn btn-primary me-2">Add</button>
        </div>
        </div>
    </form>

</div>


</body>
</html>